/* import google font */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');


/* Reset CSS */
*{
    padding: 0;
    margin: 0;
}

body{
    line-height: 1;
    font-size: 100%;
    font-family: 'open Sans', sans-serif;
    color: #5a5a5a;
}

.container{
    width: 980px;
    margin: 0 auto;
    box-shadow: 0 0 1em #cccccc;
}

/* header */ 
header { 
    padding-bottom: 50px;
    min-height: 150px;
    background-image: url(Gambar/2.jpg);
    background-size: cover;
    background-position: center; 
} 
/* header h1 { 
    margin: 20px 10px; 
    color: #b5b5b5; 
} */

/* Navigasi */
nav{
    display: block;
    background-color: #696d72;
}
nav a{ 
    padding: 15px 30px; 
    display: inline-block; 
    color: #ffffff; 
    font-size: 14px; 
    text-decoration: none; 
    font-weight: bold; 
} 

nav a.active, nav a:hover { 
    background-color: #18191b;
}

.konten{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 20px;
    /* margin-bottom: 20px; */
    background-color: #454547;
    color: white;
}

.konten img{
    width: 300px;
    /* padding-left: 50px; */
    margin-left: 70px;
    border-radius: 50%;
    box-shadow: 5px 0px 25px rgb(34,34,35);
}

.konten h1{
    padding-bottom: 15px;
}
.konten h2{
    margin-bottom: 20px;
    font-size: 35px;
}

.konten .konten-hobi{
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

/* .konten .konten-hobi h3{
    padding-bottom: 20px;
} */

.konten .konten-hobi hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.konten p{
    line-height: 25px;
}

/* Footer */
footer{
    clear: both;
    background-color: #1d1d1d;
    padding: 20px;
    color: #eee;
}